<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Library of Colors</title>
    <meta name="description" content="Library of Colors">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="/anime.js"></script>
    <script src="/p5.js"></script> 
    <script src="/suncalc.js"></script> 
    <!--script src="/color.js" type="module"></script-->
    <script src="/sketch.js"></script>   
  </head>
  <body>
    <header>
    </header>

    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <!--div class="footer">
      A Library of Color<span id = "about"><a href="https://medium.com/@blprnt/a-library-of-colors-5953577a26c0">What is this?</a></span>
    </div-->
  </body>
</html>
